.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
}

.profile__data {
  margin: 10px 0 0;
  line-height: 1;
}

.go-back {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: var(--text-color);
  color: var(--main-color);
  font-size: 16px;
}